.footer-container {
  width: 100%;
  min-height: 50vh;
  /* background-color: red; */
  /* background: linear-gradient(to bottom,); */
  background: linear-gradient(to bottom, #010005, #045854);
  color: var(--white);
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.footer-mainDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footerImg {
  width: 10rem;
}
.footer-socio-Links {
  display: flex;
  gap: 1rem;
}
.footer-socio-Links .icon {
  font-size: 1.8rem;
  color: var(--CeladonSorbet);
}
.footHead {
  font-size: 1.6rem;
}
.footer-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.7rem;
}
.footLink {
  text-decoration: none;
  color: var(--CeladonSorbet);
}
.footer-rightWrapper {
  display: flex;
  gap: 8rem;
}
.footerDetails {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 3rem 0;
  }
  .footer-rightWrapper {
    flex-direction: column;
    gap: 2rem;
  }
}
